.carrossel__titulo {
    font-family: var(--fonte-secundaria);
    background-color: var(--fundo-branco);
    text-align: center;
    padding: 1.5em 0 1em 0;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.carrossel__container {
    text-align: center;
    margin: 0 8em;
}

.carrossel__titulo--negrito {
    color: var(--vermelho-realce);
    font-style: italic;
}

.swiper-slide img {
    width: 96%;
    height: 96%;
    border: 2px solid var(--preto-fonte);
    border-top-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.swiper-slide img:hover {
    cursor: grab;
    width: 97%;
    height: 97%;
    border: 2px solid var(--vermelho-realce);
}

.swiper-pagination {
    position: initial;
    margin: 1em 0;
}

.carrossel__imagem__texto {
    margin: 0.4em;
    font-weight: 600;
    font-size: 20px;
    border: 2px solid var(--cinza);
    align-items: center;
    background-color: var(--fundo-branco);
    padding: 0.3em;

}

.swiper-wrapper {
    height: auto;
}

.carrossel__container__texto {
    display: flex;
    align-items: center;
    justify-content: center;
}


.carrossel__container__instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    background-color: var(--fundo-branco);
    border: 1px var(--preto-fonte) solid;
    border-radius: 18px;
    font-weight: 600;
    padding: 0.5em 5em
}

.carrossel__container__instagram img {
    margin-right: 1em;
}


.carrossel__container__instagram a {
    text-decoration: none;
    color: var(--vermelho-realce);
}

.carrossel__container__instagram:hover {
    font-weight: 700;
    border: 1px var(--vermelho-realce) solid;
}

.carrossel__container__instagram-link {
    margin-left: 0.5em;
}


@media screen and (max-width: 768px) {

    .swiper-slide img {
        width: 100%;
        height: 5em;
    }

    .swiper-slide img:hover {
    border: 2px solid var(--vermelho-realce);
        width: 100%;
        height: 5em;
}

    .carrossel__container {
        width: auto;
        margin: 0.5em;
    }

    .carrossel__imagem__texto {
        font-size: 15;
        display: none;
    }

    .carrossel__container__instagram {
        display: flex;
        flex-wrap: wrap;
        line-height: 1.5em;
        font-size: 16px;
    }

    .carrossel__container__instagram img {
        display: none;
    }


}
