.ser__membro {
    margin: 8em 7em 8em 7em;
    background-color: var(--fundo-branco);
    padding: 0 3em 4em 3em;
    border-radius: 10px;
    border: 4px solid var(--cinza);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-to__titulo {
    font-family: var(--fonte-secundaria);
    background-color: var(--fundo-branco);
    text-align: center;
    padding: 1.5em 0 1em 0;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--vermelho-realce);
}

.how-to__container__inicial {
    display: flex;
    gap: 1em;
}

.how-to__container__coluna {
    width: 33%;
    border: 1px solid var(--cinza);
    border-radius: 20px;
    padding: 1em;
    line-height: 1.5em;
}

.how-to__container__titulo {
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 700;
    margin: 1em 0 1em 0;
    text-align: center;
}

.how-to__container__texto {
    text-indent: 1em;
}

.how-to__container__item {
    padding-bottom: 0.5em;
    list-style: disc;
    list-style-position: inside;
}

.how-to__botao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0 0 0;
    background-color: var(--fundo-branco);
    border: 1px var(--preto-fonte) solid;
    border-radius: 10px;
    font-weight: 600;
    padding: 0.5em 5em;
    text-decoration: none;
    color: var(--preto-fonte);
}

.how-to__botao:hover {
    color: var(--vermelho-realce);
    font-weight: 700;
    border: 1px var(--vermelho-realce) solid;

}
